* {
    font-family: Verdana, sans-serif;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
}
html {
    background-color: gray;
}
a {
   text-decoration: none;
}
a:hover {
    color: lightgray;
}
#container {
    display: block;
    text-align: center;
    padding-top: 60px;
}
#nav {
    background-color: black;
    height: 40px;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}
#nav a {
    font-size: 30px;
    font-weight: bold;
}
#nav a:active {
    font-style: italic;
}
#header h1 {
    font-size: 20px;
    text-shadow: 0 0 5px black;
    margin: 10px 2px 8px 2px;
}
#home {
    margin: 0px 15px;
    position: absolute;
    float: left;
}
#info {
    margin: 0px 15px;
    position: absolute;
    right: 0;
}
.invisible {
    display: none;
}
