#prompts {
    list-style: none;
}
#submit {
    margin-top: 10px;
}
#submit input {
    padding: 5px 10px;
    color: black;
}
.question { /* the list element */
    margin: 10px 2px 0px 2px;
}
.btn {
    width: 23%;
    border: solid black 1px;
    outline: black;
    margin: 8px 1px 6px 1px;
    padding: 4px 8px;
    display: inline-block;
    background-color: darkgray;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.btn:hover {
    background-color: lightgray;
    color: black;
}
.btn.selected {
    background-color: #696969; /* nice */
    color: white;
}
.invisible {
    visibility: hidden;
}
