#prompts {
    list-style: none;
}
#submit {}
.question { /* the list element */
    margin: 10px 2px 0px 2px;
}
.btn {
    width: 23%;
    border: solid black 1px;
    outline: black;
    margin: 8px 1px 6px 1px;
    padding: 4px 8px;
    display: inline-block;
    background-color: darkgray;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.btn:hover, .btn.selected {
    background-color: lightgray;
    color: black;
}