#prompts {
  list-style: none;
}
#submit {
  margin: 15px 0px 10px 0px;
  padding: 10px 15px;
  background-color: #c4dfe6;
  color: black;
  outline: black;
  border: 1px black;
  border-radius: 6px;
}
#submit:hover {
  background-color: #66a5ad;
  color: white;
}
.question {
  margin: 10px 2px 0px 2px;
}
.btn {
  margin: 4px;
}
.btn:hover {
  background-color: #66a5ad;
  color: white;
}
.btn.selected {
  background-color: #c4dfe6;
  color: black;
}
