#prompts {
    list-style: none;
}
#submit {
    margin: 15px 0px 10px 0px;
    padding: 10px 15px;
    color: black;
    outline: black;
    border: 1px white;
    border-radius: 4px;
}
.question { /* list item */
    margin: 10px 2px 0px 2px;
    font-size: 0.9em;
}
.btn {
    width: 24%;
    border: solid black 1px;
    outline: black;
    margin: 8px 6px 6px 6px;
    padding: 10px 6px;
    display: inline-block;
    background-color: darkgray;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
}
.btn:hover {
    background-color: lightgray;
    color: black;
}
.btn.selected {
    background-color: #696969; /* nice */
    color: white;
}
