<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='layout.css') }}"
    />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <div id="home"><a href="test">Back</a></div>
        <div id="info"><a href="info">Info</a></div>
      </div>
      <div id="content">
        <p>Sorry, there was an error.</p>
      </div>
    </div>
  </body>
</html>
