<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Info</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='layout.css') }}"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <div id="home"><a href="test">Back</a></div>
      </div>
      <div id="content">
        <p>
          This is a project envisioned by D Club and supported by GLOZZ,<br />
          Glee Club + Chorus class of 2022
        </p>
        <br />
        <p>
          Coded by
          <a href="http://benjamin-shen.github.io/about">Benjamin</a> (bfs45)
        </p>
        <br />
        <p>
          Please explore and support<br />
          Cornell University's
          <a href="https://www.gleeclub.com">Glee Club</a> and
          <a href="https://cuchorus.com">Chorus</a>
        </p>
      </div>
    </div>
  </body>
</html>
